USE [master]
GO
/****** Object:  Database [familybank]    Script Date: 2015/10/22 1:34:39 ******/
CREATE DATABASE [familybank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'familybank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\familybank.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'familybank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\familybank_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [familybank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [familybank]
GO
/****** Object:  Table [dbo].[__MigrationHistory2]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory2](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank_account]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_account](
	[user_name] [nvarchar](50) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[money] [decimal](30, 8) NOT NULL,
	[debt] [decimal](30, 8) NOT NULL,
	[freezing] [decimal](30, 8) NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.bank_account] PRIMARY KEY CLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank_family]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_family](
	[family_id] [bigint] IDENTITY(1,1) NOT NULL,
	[family_name] [nvarchar](50) NULL,
	[family_nick_name] [nvarchar](50) NULL,
	[assets_total] [decimal](30, 8) NOT NULL,
	[assets_money] [decimal](30, 8) NOT NULL,
	[assets_investment] [decimal](30, 8) NOT NULL,
	[assets_real] [decimal](30, 8) NOT NULL,
	[assets_debt] [decimal](30, 8) NOT NULL,
	[assets_net] [decimal](30, 8) NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.bank_family] PRIMARY KEY CLUSTERED 
(
	[family_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank_family_user]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_family_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[user_name] [nvarchar](max) NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
	[sys_user_user_id] [bigint] NULL,
 CONSTRAINT [PK_dbo.bank_family_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank_operate_log]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_operate_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[money] [decimal](30, 8) NOT NULL,
	[history_total] [decimal](30, 8) NULL,
	[subject_id] [int] NULL,
	[subject_remark] [nvarchar](200) NULL,
	[order_id] [nvarchar](200) NULL,
	[product_name] [nvarchar](200) NULL,
	[product_number] [int] NULL,
	[order_amount] [decimal](30, 8) NULL,
	[pay_way] [nvarchar](100) NULL,
	[remark] [nvarchar](500) NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_dbo.bank_operate_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bank_record]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[family_id] [bigint] NOT NULL,
	[period_date] [datetime] NULL,
	[opening_balance] [decimal](30, 8) NOT NULL,
	[closed_balance] [decimal](30, 8) NOT NULL,
	[balance] [decimal](30, 8) NOT NULL,
	[closed] [tinyint] NOT NULL,
	[closing_time] [datetime] NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.bank_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[report_family]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_family](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_family_family_id] [bigint] NULL,
	[family_name] [nvarchar](50) NULL,
	[subject_id] [int] NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[total] [decimal](38, 8) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[report_family_day]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[report_family_day](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_family_family_id] [bigint] NULL,
	[family_name] [nvarchar](50) NULL,
	[total] [decimal](38, 8) NULL,
	[dt] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[report_family_subject_day]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[report_family_subject_day](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_family_family_id] [bigint] NULL,
	[family_name] [nvarchar](50) NULL,
	[total] [decimal](38, 8) NULL,
	[subject_id] [int] NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[dt] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[report_family_user]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_family_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_family_family_id] [bigint] NULL,
	[family_name] [nvarchar](50) NULL,
	[user_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[report_user]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[subject_id] [int] NULL,
	[total] [decimal](38, 8) NULL,
	[subject_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[report_user_day]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[report_user_day](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[total] [decimal](38, 8) NULL,
	[dt] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[report_user_subject_day]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[report_user_subject_day](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[subject_id] [int] NULL,
	[total] [decimal](38, 8) NULL,
	[dt] [varchar](10) NULL,
	[subject_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_log]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[log_name] [nvarchar](50) NULL,
	[user_id] [bigint] NULL,
	[user_name] [nvarchar](50) NULL,
	[interface_name] [nvarchar](50) NULL,
	[interface_param] [nvarchar](2000) NULL,
	[interface_type] [nvarchar](50) NULL,
	[interface_dir] [int] NULL,
	[local_ip] [nvarchar](50) NULL,
	[visitor_ip] [nvarchar](50) NULL,
	[result] [nvarchar](2000) NULL,
	[interface_status] [nvarchar](50) NULL,
	[request_time] [nvarchar](50) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[execute_time] [bigint] NULL,
	[mem] [text] NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_permission]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_permission](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](50) NOT NULL,
	[permission_url] [nvarchar](200) NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_permission] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_role]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[role_desc] [nvarchar](200) NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_role_permission]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_role_permission] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_subject]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_subject](
	[subject_id] [int] NOT NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[subject_level] [int] NULL,
	[subject_desc] [nvarchar](200) NULL,
	[money_unit] [nvarchar](50) NULL,
	[parents_id] [int] NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_subject] PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](200) NULL,
	[nick_name] [nvarchar](50) NULL,
	[family_id] [int] NOT NULL,
	[family_name] [nvarchar](50) NULL,
	[remark] [nvarchar](200) NULL,
	[sex] [bit] NULL,
	[age] [int] NULL,
	[birthday] [datetime] NULL,
	[address] [nvarchar](200) NULL,
	[post] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NOT NULL,
	[qq] [nvarchar](50) NULL,
	[weixin] [nvarchar](50) NULL,
	[interest] [nvarchar](500) NULL,
	[user_desc] [nvarchar](500) NULL,
	[last_login_time] [datetime] NULL,
	[last_login_ip] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NULL,
	[bank_family_family_id] [bigint] NULL,
 CONSTRAINT [PK_dbo.sys_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_user_log]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[action] [nvarchar](50) NULL,
	[action_desc] [nvarchar](200) NULL,
	[login_ip] [nvarchar](50) NULL,
	[login_time] [datetime] NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.sys_user_log] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_user_role]    Script Date: 2015/10/22 1:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_name] [nvarchar](max) NOT NULL,
	[create_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
	[status] [int] NOT NULL,
	[sys_user_user_id] [bigint] NULL,
 CONSTRAINT [PK_dbo.sys_user_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[bank_account] ([user_name], [user_id], [money], [debt], [freezing], [create_date], [modify_date], [status]) VALUES (N'dongruijun@gw.com.cn', 1, CAST(9500.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0x0000A5370122AC11 AS DateTime), CAST(0x0000A5370122AC11 AS DateTime), 0)
INSERT [dbo].[bank_account] ([user_name], [user_id], [money], [debt], [freezing], [create_date], [modify_date], [status]) VALUES (N'dreign@qq.com', 2, CAST(20875.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0x0000A5370122AC12 AS DateTime), CAST(0x0000A5370122AC12 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[bank_family] ON 

INSERT [dbo].[bank_family] ([family_id], [family_name], [family_nick_name], [assets_total], [assets_money], [assets_investment], [assets_real], [assets_debt], [assets_net], [create_date], [modify_date], [status]) VALUES (1, N'董瑞军的家', N'My Sweet Home', CAST(40000.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(0.00000000 AS Decimal(30, 8)), CAST(-9625.00000000 AS Decimal(30, 8)), CAST(30375.00000000 AS Decimal(30, 8)), CAST(0x0000A5370122AB91 AS DateTime), CAST(0x0000A5370122AB91 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[bank_family] OFF
SET IDENTITY_INSERT [dbo].[bank_operate_log] ON 

INSERT [dbo].[bank_operate_log] ([id], [user_id], [user_name], [money], [history_total], [subject_id], [subject_remark], [order_id], [product_name], [product_number], [order_amount], [pay_way], [remark], [create_date], [modify_date], [status]) VALUES (1, 1, N'dongruijun@gw.com.cn', CAST(5000.00000000 AS Decimal(30, 8)), NULL, 8, N'奖金', NULL, NULL, NULL, NULL, NULL, N'收入', CAST(0x0000A5370122AD08 AS DateTime), CAST(0x0000A5370122AD08 AS DateTime), 0)
INSERT [dbo].[bank_operate_log] ([id], [user_id], [user_name], [money], [history_total], [subject_id], [subject_remark], [order_id], [product_name], [product_number], [order_amount], [pay_way], [remark], [create_date], [modify_date], [status]) VALUES (2, 1, N'dongruijun@gw.com.cn', CAST(-200.00000000 AS Decimal(30, 8)), NULL, 8, N'水电煤', NULL, NULL, NULL, NULL, NULL, N'支出', CAST(0x0000A5370122AD0B AS DateTime), CAST(0x0000A5370122AD0B AS DateTime), 0)
INSERT [dbo].[bank_operate_log] ([id], [user_id], [user_name], [money], [history_total], [subject_id], [subject_remark], [order_id], [product_name], [product_number], [order_amount], [pay_way], [remark], [create_date], [modify_date], [status]) VALUES (3, 1, N'dongruijun@gw.com.cn', CAST(-100.00000000 AS Decimal(30, 8)), NULL, 8, N'手机费', NULL, NULL, NULL, NULL, NULL, N'支出', CAST(0x0000A5370122AD0B AS DateTime), CAST(0x0000A5370122AD0B AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[bank_operate_log] OFF
SET IDENTITY_INSERT [dbo].[report_family] ON 

INSERT [dbo].[report_family] ([id], [bank_family_family_id], [family_name], [subject_id], [subject_name], [total]) VALUES (1, 1, N'董瑞军的家', 8, N'日常家用', CAST(9500.00000000 AS Decimal(38, 8)))
INSERT [dbo].[report_family] ([id], [bank_family_family_id], [family_name], [subject_id], [subject_name], [total]) VALUES (2, 1, N'董瑞军的家', 13, N'股票', CAST(25000.00000000 AS Decimal(38, 8)))
INSERT [dbo].[report_family] ([id], [bank_family_family_id], [family_name], [subject_id], [subject_name], [total]) VALUES (3, 1, N'董瑞军的家', 38, N'医疗', CAST(-35.00000000 AS Decimal(38, 8)))
SET IDENTITY_INSERT [dbo].[report_family] OFF
SET IDENTITY_INSERT [dbo].[report_family_day] ON 

INSERT [dbo].[report_family_day] ([id], [bank_family_family_id], [family_name], [total], [dt]) VALUES (1, 1, N'董瑞军的家', CAST(21410.00000000 AS Decimal(38, 8)), N'2015-10-20')
INSERT [dbo].[report_family_day] ([id], [bank_family_family_id], [family_name], [total], [dt]) VALUES (2, 1, N'董瑞军的家', CAST(12965.00000000 AS Decimal(38, 8)), N'2015-10-21')
INSERT [dbo].[report_family_day] ([id], [bank_family_family_id], [family_name], [total], [dt]) VALUES (3, 1, N'董瑞军的家', CAST(-4000.00000000 AS Decimal(38, 8)), N'2015-10-22')
SET IDENTITY_INSERT [dbo].[report_family_day] OFF
SET IDENTITY_INSERT [dbo].[report_family_subject_day] ON 

INSERT [dbo].[report_family_subject_day] ([id], [bank_family_family_id], [family_name], [total], [subject_id], [subject_name], [dt]) VALUES (1, 1, N'董瑞军的家', CAST(9500.00000000 AS Decimal(38, 8)), 8, N'日常家用', N'2015-10-20')
INSERT [dbo].[report_family_subject_day] ([id], [bank_family_family_id], [family_name], [total], [subject_id], [subject_name], [dt]) VALUES (2, 1, N'董瑞军的家', CAST(12000.00000000 AS Decimal(38, 8)), 13, N'股票', N'2015-10-20')
INSERT [dbo].[report_family_subject_day] ([id], [bank_family_family_id], [family_name], [total], [subject_id], [subject_name], [dt]) VALUES (3, 1, N'董瑞军的家', CAST(13000.00000000 AS Decimal(38, 8)), 13, N'股票', N'2015-10-21')
SET IDENTITY_INSERT [dbo].[report_family_subject_day] OFF
SET IDENTITY_INSERT [dbo].[report_family_user] ON 

INSERT [dbo].[report_family_user] ([id], [bank_family_family_id], [family_name], [user_name]) VALUES (1, 1, N'董瑞军的家', N'dongruijun@gw.com.cn')
INSERT [dbo].[report_family_user] ([id], [bank_family_family_id], [family_name], [user_name]) VALUES (2, 1, N'董瑞军的家', N'dreign@qq.com')
SET IDENTITY_INSERT [dbo].[report_family_user] OFF
SET IDENTITY_INSERT [dbo].[report_user] ON 

INSERT [dbo].[report_user] ([id], [user_name], [subject_id], [total], [subject_name]) VALUES (1, N'dongruijun@gw.com.cn', 8, CAST(9500.00000000 AS Decimal(38, 8)), N'日常家用')
INSERT [dbo].[report_user] ([id], [user_name], [subject_id], [total], [subject_name]) VALUES (2, N'dreign@qq.com', 13, CAST(25000.00000000 AS Decimal(38, 8)), N'股票')
INSERT [dbo].[report_user] ([id], [user_name], [subject_id], [total], [subject_name]) VALUES (3, N'dreign@qq.com', 38, CAST(-35.00000000 AS Decimal(38, 8)), N'医疗')
SET IDENTITY_INSERT [dbo].[report_user] OFF
SET IDENTITY_INSERT [dbo].[report_user_day] ON 

INSERT [dbo].[report_user_day] ([id], [user_name], [total], [dt]) VALUES (1, N'dongruijun@gw.com.cn', CAST(9500.00000000 AS Decimal(38, 8)), N'2015-10-20')
INSERT [dbo].[report_user_day] ([id], [user_name], [total], [dt]) VALUES (2, N'dreign@qq.com', CAST(11910.00000000 AS Decimal(38, 8)), N'2015-10-20')
INSERT [dbo].[report_user_day] ([id], [user_name], [total], [dt]) VALUES (3, N'dreign@qq.com', CAST(12965.00000000 AS Decimal(38, 8)), N'2015-10-21')
SET IDENTITY_INSERT [dbo].[report_user_day] OFF
SET IDENTITY_INSERT [dbo].[report_user_subject_day] ON 

INSERT [dbo].[report_user_subject_day] ([id], [user_name], [subject_id], [total], [dt], [subject_name]) VALUES (1, N'dongruijun@gw.com.cn', 8, CAST(9500.00000000 AS Decimal(38, 8)), N'2015-10-20', N'日常家用')
INSERT [dbo].[report_user_subject_day] ([id], [user_name], [subject_id], [total], [dt], [subject_name]) VALUES (2, N'dreign@qq.com', 13, CAST(12000.00000000 AS Decimal(38, 8)), N'2015-10-20', N'股票')
INSERT [dbo].[report_user_subject_day] ([id], [user_name], [subject_id], [total], [dt], [subject_name]) VALUES (3, N'dreign@qq.com', 13, CAST(13000.00000000 AS Decimal(38, 8)), N'2015-10-21', N'股票')
SET IDENTITY_INSERT [dbo].[report_user_subject_day] OFF
SET IDENTITY_INSERT [dbo].[sys_log] ON 

INSERT [dbo].[sys_log] ([id], [log_name], [user_id], [user_name], [interface_name], [interface_param], [interface_type], [interface_dir], [local_ip], [visitor_ip], [result], [interface_status], [request_time], [start_time], [end_time], [execute_time], [mem], [create_date], [modify_date], [status]) VALUES (1, NULL, 1, N'dongruijun@gw.com.cn', NULL, NULL, NULL, NULL, N'127.0.0.1', N'127.0.0.1', N'OK', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A5370122AD33 AS DateTime), CAST(0x0000A5370122AD33 AS DateTime), 0)
INSERT [dbo].[sys_log] ([id], [log_name], [user_id], [user_name], [interface_name], [interface_param], [interface_type], [interface_dir], [local_ip], [visitor_ip], [result], [interface_status], [request_time], [start_time], [end_time], [execute_time], [mem], [create_date], [modify_date], [status]) VALUES (2, NULL, 1, N'dongruijun@gw.com.cn', NULL, NULL, NULL, NULL, N'127.0.0.1', N'127.0.0.1', N'OK', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A5370122AD34 AS DateTime), CAST(0x0000A5370122AD34 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_log] OFF
SET IDENTITY_INSERT [dbo].[sys_permission] ON 

INSERT [dbo].[sys_permission] ([permission_id], [permission_name], [permission_url], [create_date], [modify_date], [status]) VALUES (1, N'系统管理员', N'/Home/Index', CAST(0x0000A5370122ABCB AS DateTime), CAST(0x0000A5370122ABCB AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_permission] OFF
SET IDENTITY_INSERT [dbo].[sys_role] ON 

INSERT [dbo].[sys_role] ([role_id], [role_name], [role_desc], [create_date], [modify_date], [status]) VALUES (1, N'管理员', N'管理员', CAST(0x0000A5370122ABD1 AS DateTime), CAST(0x0000A5370122ABD1 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_role] OFF
SET IDENTITY_INSERT [dbo].[sys_role_permission] ON 

INSERT [dbo].[sys_role_permission] ([id], [role_id], [permission_id], [create_date], [modify_date], [status]) VALUES (1, 1, 1, CAST(0x0000A5370122ABD8 AS DateTime), CAST(0x0000A5370122ABD8 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_role_permission] OFF
INSERT [dbo].[sys_subject] ([subject_id], [subject_name], [subject_level], [subject_desc], [money_unit], [parents_id], [create_date], [modify_date], [status]) VALUES (1, N'资产', 1, N'资产', NULL, 0, CAST(0x0000A5370122AC20 AS DateTime), CAST(0x0000A5370122AC20 AS DateTime), 0)
INSERT [dbo].[sys_subject] ([subject_id], [subject_name], [subject_level], [subject_desc], [money_unit], [parents_id], [create_date], [modify_date], [status]) VALUES (2, N'负债', 1, N'负债', NULL, 0, CAST(0x0000A5370122AC21 AS DateTime), CAST(0x0000A5370122AC21 AS DateTime), 0)
INSERT [dbo].[sys_subject] ([subject_id], [subject_name], [subject_level], [subject_desc], [money_unit], [parents_id], [create_date], [modify_date], [status]) VALUES (3, N'货币资产', 2, N'资产', NULL, 1, CAST(0x0000A5370122AC21 AS DateTime), CAST(0x0000A5370122AC21 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_user] ON 

SET IDENTITY_INSERT [dbo].[sys_user] OFF
SET IDENTITY_INSERT [dbo].[sys_user_log] ON 

INSERT [dbo].[sys_user_log] ([log_id], [user_id], [user_name], [action], [action_desc], [login_ip], [login_time], [create_date], [modify_date], [status]) VALUES (1, 1, N'dongruijun@gw.com.cn', N'Login', N'登录', NULL, CAST(0x0000A5370122AD45 AS DateTime), CAST(0x0000A5370122AD45 AS DateTime), CAST(0x0000A5370122AD45 AS DateTime), 0)
INSERT [dbo].[sys_user_log] ([log_id], [user_id], [user_name], [action], [action_desc], [login_ip], [login_time], [create_date], [modify_date], [status]) VALUES (2, 1, N'dongruijun@gw.com.cn', N'Login', N'登录', NULL, CAST(0x0000A5370122AD46 AS DateTime), CAST(0x0000A5370122AD46 AS DateTime), CAST(0x0000A5370122AD46 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[sys_user_log] OFF
SET IDENTITY_INSERT [dbo].[sys_user_role] ON 

INSERT [dbo].[sys_user_role] ([id], [role_id], [user_name], [create_date], [modify_date], [status], [sys_user_user_id]) VALUES (1, 1, N'dongruijun@gw.com.cn', CAST(0x0000A5370122AC06 AS DateTime), CAST(0x0000A5370122AC06 AS DateTime), 0, 1)
INSERT [dbo].[sys_user_role] ([id], [role_id], [user_name], [create_date], [modify_date], [status], [sys_user_user_id]) VALUES (2, 1, N'dreign@qq.com', CAST(0x0000A5370122AC07 AS DateTime), CAST(0x0000A5370122AC07 AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[sys_user_role] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2015/10/22 1:34:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 2015/10/22 1:34:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_family_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_family_id] ON [dbo].[bank_family_user]
(
	[family_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sys_user_user_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_sys_user_user_id] ON [dbo].[bank_family_user]
(
	[sys_user_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_subject_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_subject_id] ON [dbo].[bank_operate_log]
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_permission_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_permission_id] ON [dbo].[sys_role_permission]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_role_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_role_id] ON [dbo].[sys_role_permission]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bank_family_family_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_bank_family_family_id] ON [dbo].[sys_user]
(
	[bank_family_family_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_role_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_role_id] ON [dbo].[sys_user_role]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sys_user_user_id]    Script Date: 2015/10/22 1:34:39 ******/
CREATE NONCLUSTERED INDEX [IX_sys_user_user_id] ON [dbo].[sys_user_role]
(
	[sys_user_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[bank_family_user]  WITH CHECK ADD  CONSTRAINT [FK_dbo.bank_family_user_dbo.bank_family_family_id] FOREIGN KEY([family_id])
REFERENCES [dbo].[bank_family] ([family_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bank_family_user] CHECK CONSTRAINT [FK_dbo.bank_family_user_dbo.bank_family_family_id]
GO
ALTER TABLE [dbo].[bank_family_user]  WITH CHECK ADD  CONSTRAINT [FK_dbo.bank_family_user_dbo.sys_user_sys_user_user_id] FOREIGN KEY([sys_user_user_id])
REFERENCES [dbo].[sys_user] ([user_id])
GO
ALTER TABLE [dbo].[bank_family_user] CHECK CONSTRAINT [FK_dbo.bank_family_user_dbo.sys_user_sys_user_user_id]
GO
ALTER TABLE [dbo].[bank_operate_log]  WITH CHECK ADD  CONSTRAINT [FK_dbo.bank_operate_log_dbo.sys_subject_subject_id] FOREIGN KEY([subject_id])
REFERENCES [dbo].[sys_subject] ([subject_id])
GO
ALTER TABLE [dbo].[bank_operate_log] CHECK CONSTRAINT [FK_dbo.bank_operate_log_dbo.sys_subject_subject_id]
GO
ALTER TABLE [dbo].[sys_role_permission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sys_role_permission_dbo.sys_permission_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[sys_permission] ([permission_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sys_role_permission] CHECK CONSTRAINT [FK_dbo.sys_role_permission_dbo.sys_permission_permission_id]
GO
ALTER TABLE [dbo].[sys_role_permission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sys_role_permission_dbo.sys_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[sys_role] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sys_role_permission] CHECK CONSTRAINT [FK_dbo.sys_role_permission_dbo.sys_role_role_id]
GO
ALTER TABLE [dbo].[sys_user]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sys_user_dbo.bank_family_bank_family_family_id] FOREIGN KEY([bank_family_family_id])
REFERENCES [dbo].[bank_family] ([family_id])
GO
ALTER TABLE [dbo].[sys_user] CHECK CONSTRAINT [FK_dbo.sys_user_dbo.bank_family_bank_family_family_id]
GO
ALTER TABLE [dbo].[sys_user_role]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sys_user_role_dbo.sys_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[sys_role] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sys_user_role] CHECK CONSTRAINT [FK_dbo.sys_user_role_dbo.sys_role_role_id]
GO
ALTER TABLE [dbo].[sys_user_role]  WITH CHECK ADD  CONSTRAINT [FK_dbo.sys_user_role_dbo.sys_user_sys_user_user_id] FOREIGN KEY([sys_user_user_id])
REFERENCES [dbo].[sys_user] ([user_id])
GO
ALTER TABLE [dbo].[sys_user_role] CHECK CONSTRAINT [FK_dbo.sys_user_role_dbo.sys_user_sys_user_user_id]
GO
USE [master]
GO
