@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h6 class="row-title before-blue">家庭理财管理系统</h6>
<hr class="wide">

<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="well with-header with-footer">
        <div class="header bordered-blueberry">
            关于            
        </div>
        <div class="footer">
            
        </div>
    </div>
</div>

<p>Use this area to provide additional information.</p>
