<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--是否重新初始化数据库-->
  <add key="IsInitDB" value="false" />
  <!--默认表格行数-->
  <add key="PageSize" value="10" />

  <!--百度API store   http://apistore.baidu.com/apiworks/servicedetail/115.html-->
  <!--股票查询接口地址：A股-->
  <add key="StockAUrl" value="http://apis.baidu.com/apistore/stockservice/stock"/>
  <!--股票查询接口地址：A股-->
  <add key="StockHKUrl" value="http://apis.baidu.com/apistore/stockservice/hkstock"/>
  <!--股票查询接口地址：A股-->
  <add key="StockUSUrl" value="http://apis.baidu.com/apistore/stockservice/usastock"/>
  <!--股票查询接口apikey-->
  <add key="StockApikey" value="4d48fab437d71f8c87deb5ead35ec49e"/>


  <!--个人总币种缓存时间，小时-->
  <add key="BankAccountTotalRedisCachTime" value="12"/>
  <!--个人币种明细缓存时间，小时-->
  <add key="BankAccountDetailRedisCachTime" value="12"/>

  <!--个人币种明细显示总条数开始索引和结束索引-->
  <add key="BankAccountDetailRedisStartIndex" value="1"/>
  <add key="BankAccountDetailRedisEndIndex" value="10"/>

  <!--账户加币数量汇总缓存时间，秒 -->
  <add key="BankAccountStatsTotalRedisCachTime" value="600"/>
  <!--账户加币数量汇总是否保存Redis缓存（Y保存，N不保存）-->
  <add key="BankAccountStatsTotalIsRedis" value="Y"/>
  
  

  <!--是否记录数据库日志，只记录小于等于自己的级别。0,Fatal;1,Error;2,Warn;3,Debug;4,Info;-->
  <add key="DBInfoLevel" value="4"/>

  
  <!--用户信息缓存过期时间（单位：小时）-->
  <add key="UserInfoCacheTime" value="24"/>
  
</appSettings>