<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\familybank.mdf;Initial Catalog=BankModel;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="data source=drj;initial catalog=familybank;persist security info=True;user id=sa;password=ABcd1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="BankModel" connectionString="data source=drj;initial catalog=familybank;persist security info=True;user id=sa;password=ABcd1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>


