<?xml version="1.0"?>
<RedisConfig WriteServerList=""
             ReadServerList=""
             RedisServerInfo="127.0.0.1:6379:" 
             MaxWritePoolSize="500"
             MaxReadPoolSize="500"
             AutoStart="true"
             LocalCacheTime="180"
             RecordeLog="false">
</RedisConfig>

