<?xml version="1.0" encoding="utf-8" ?>

<!--注意：配置文件必须放在网站的根目录-->
<!--注意：配置文件是区分大小写的。-->
<configuration>
  <base>
    <!--DES加密/解密KEY-->
    <!--使用Cookie缓存时为提高安全性，请务必自行修改-->
    <desKey>ABcd1234</desKey>
    <!--缓存模式-->
    <!--目前仅支持 cookie|session-->
    <cacheMode>cookie</cacheMode>
  </base>
  <oauth>
    <!--
    提示：未通过审核的APPKey调试时，可以使用修改hosts文件加IIS来模拟实现测试。
    1、例如：hosts文件加入以下代码
        本地地址      页面实际地址(和平台上的一致)
        127.0.0.1     app.wobumang.com      
    2、IIS网站主机头填写app.wobumang.com
    3、浏览器直接输入http://app.wobumang.com就可以调试本地网站了
    -->
    <!--协议
      每一种协议都引用一个类/类库。
      -->
    <weixinmp desc="腾讯微信公众平台">
      <!--协议
      weixinmp: 腾讯微信公众平台，引用WeixinmpOAuth类。
      每一种协议都引用一个类/类库。
      -->
      <app>
        <!--第一个应用
        my_app: 自定义名称，可修改。
        配置第二个应用时只添加一个新的app节点即可
        -->
        <my_app>
          <!--
          clientId: 申请应用时分配的AppKey。
          clientSecret: 申请应用时分配的AppSecret。
          redirectUri: 应用回调页，可选项
          userName: 用户名，可选项
          password: 用户密码，可选项
          scope：若不传递此参数，代表请求用户的默认权限。
          -->
          <clientId>wx50717087058aa8f4</clientId>
          <clientSecret>75d2c73bc278fa86ef66d95fa260e340</clientSecret>
          <!--
          <userName></userName>
          <password></password>
          -->
        </my_app>
      </app>
      <api>
        <!--OAUTH2.0协议接口-->
        <authorize></authorize>
        <access_token>https://api.weixin.qq.com/cgi-bin/token</access_token>
        <!--OAUTH2.0协议接口-->

        <!--API接口 必须使用https协议-->
        <!--API接口使用方法和参数请参数官方文档：http://mp.weixin.qq.com/wiki/index.php -->
        <!--错误误请参照地址：http://mp.weixin.qq.com/wiki/index.php?title=%E5%85%A8%E5%B1%80%E8%BF%94%E5%9B%9E%E7%A0%81%E8%AF%B4%E6%98%8E -->

        <!--发送客服消息接口-->
        <message_custom_send>https://api.weixin.qq.com/cgi-bin/message/custom/send</message_custom_send>
        <!--发送客服消息接口-->

        <!--上传多媒体文件接口-->
        <media_upload>http://file.api.weixin.qq.com/cgi-bin/media/upload</media_upload>
        <!--上传多媒体文件接口-->

        <!--分组管理接口-->
        <!--创建分组-->
        <groups_create>https://api.weixin.qq.com/cgi-bin/groups/create</groups_create>
        <!--查询所有分组-->
        <groups_get>https://api.weixin.qq.com/cgi-bin/groups/get</groups_get>
        <!--修改分组名-->
        <groups_update>https://api.weixin.qq.com/cgi-bin/groups/update</groups_update>
        <!--查询用户所在分组-->
        <groups_getid>https://api.weixin.qq.com/cgi-bin/groups/getid</groups_getid>
        <!--移动用户分组-->
        <groups_members_update>https://api.weixin.qq.com/cgi-bin/groups/members/update</groups_members_update>
        <!--分组管理接口-->

        <!--用户管理-->
        <!--获取用户基本信息-->
        <user_info>https://api.weixin.qq.com/cgi-bin/user/info</user_info>
        <!--获取关注者列表-->
        <user_get>https://api.weixin.qq.com/cgi-bin/user/get</user_get>
        <!--用户管理-->
        <!--API接口 必须使用https协议-->
      </api>
    </weixinmp>
  </oauth>
</configuration>