<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.17.0" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NetMQ" version="3.3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
</packages>